<div class="container mt-5">
  <div *ngIf="number==='+4'">
    <h1>Me: I can handle 4 weeks of self quarantine</h1>
    <h1>The goverment:</h1>
    <div class="cards">
      <img class="card" src="../../../assets/cards/normal/+4All.png">
      <div class="top-left letters">+4</div>
      <div class="bottom-right letters">+4</div>
    </div>
  </div>

  <div *ngIf="number==='+2'">
    <h1>Everybody is a gangsta until +2 wild cards start dropping</h1>
    <div class="cards">
      <img class="card" src="../../../assets/cards/normal/+2Blue.png">
      <div class="top-left letters">+2</div>
      <div class="bottom-right letters">+2</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div *ngIf="game_time">
    <h1>It's game time!</h1>
    <div class="cards">
      <img class="card" src="../../../assets/backgrounds/game_time.gif">
    </div>
  </div>

  <div *ngIf="waiting">
    <h1>Oof waiting...!</h1>
    <div class="cards">
      <img class="card" src="../../../assets/backgrounds/waiting-impatiently.gif">
    </div>
  </div>
</div>


<div class="container mt-5" *ngIf="turn&&(turnPlayer!= undefined)">
  <br>
  <h1> It's your turn...</h1>
  <br>
  <div id="contain">

    <div class="image">
      <img class="avatarWinner" src="../../../assets/avatars/{{turnPlayer.avatar}}.jpg" alt="avatar">
    </div>

    <div class="title">
      <h1>{{turnPlayer.username}}</h1>
    </div>

  </div>


</div>