<div class="container mt-5" *ngIf="!condition">
  <table>
    <tr>
      <th>
        <h3>User</h3>
      </th>
      <th>
        <h3>Points</h3>
      </th>
      <th><img class="" src="../../../assets/photos/wild-uno.png" alt="wild cards">
      </th>
      <th>
        <h3>Wild Cards</h3>
      </th>
    </tr>
    <tr *ngFor="let player of players">
      <td>
        <img class="avatar" src="../../../assets/avatars/{{player.avatar}}.jpg" alt="avatar">
        <br>
        <h3 class='child flex-child'>{{player.username}}</h3>
      </td>
      <td>
        <h3>{{player.score}}/500</h3>
      </td>
      <td>
        <h3 class='child flex-child'>{{player.unos}}</h3>
      </td>
      <td>
        <h3>{{player.wild_cards}} wild cards</h3>
      </td>
    </tr>

  </table>
</div>

<div class="container mt-5" *ngIf="condition && (winnerPlayer!= undefined)">
  <br>
  <div class="rectangle">
    <h1 class="blue">And the winner is ...</h1>
    <div class='parent'>
      <div class='child flex-child'>
        <img class="avatarWinner" src="../../../assets/avatars/{{winnerPlayer.avatar}}.jpg" alt="avatar">
      </div>
      <h1 class='child flex-child blue'>{{winnerPlayer.username}}</h1>
    </div>
    <h2 class="blue">Winner winner... CHICKEN DINNER!</h2>
    <h3>{{winnerPlayer.score}}</h3>
    <img class="Winner" src="../../../assets/photos/winner.svg" alt="wild cards">
  </div>

</div>
<div class="color-waves">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax" *ngIf="start">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FFAA00" />
    </g>
    <g class="parallax" *ngIf="red">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FF5555" />
    </g>
    <g class="parallax" *ngIf="blue">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#5555FF" />
    </g>
    <g class="parallax" *ngIf="green">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#00AA00" />
    </g>
    <g class="parallax" *ngIf="yellow">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FFAA00" />
    </g>
  </svg>
</div>