<div class="container mt-5" *ngIf="!condition">
  <ul>
    <h1>Scores:</h1>
    <li class="left">
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="avatar" src="../../../assets/avatars/avatar1.jpg" alt="avatar">
          </div>
          <h5 class='child flex-child'>Sonia</h5>
        </div>
      </td>
      <td>
        <h5>300/500</h5>
      </td>
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="" src="../../../assets/photos/wild-uno.png" alt="wild cards">
          </div>
          <h5 class='child flex-child'>4</h5>
        </div>
      </td>
      <td>
        <h5>14 wild cards</h5>
      </td>
    </li>
    <li class="left">
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="avatar" src="../../../assets/avatars/avatar4.jpg" alt="avatar">
          </div>
          <h5 class='child flex-child'>Eirini</h5>
        </div>
      </td>
      <td>
        <h5>100/500</h5>
      </td>
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="" src="../../../assets/photos/wild-uno.png" alt="wild cards">
          </div>
          <h5 class='child flex-child'>2</h5>
        </div>
      </td>
      <td>
        <h5>6 wild cards</h5>
      </td>
    </li>
    <li class="left">
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="avatar" src="../../../assets/avatars/avatar5.jpg" alt="avatar">
          </div>
          <h5 class='child flex-child'>Nikos</h5>
        </div>
      </td>
      <td>
        <h5>200/500</h5>
      </td>
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="" src="../../../assets/photos/wild-uno.png" alt="wild cards">
          </div>
          <h5 class='child flex-child'>1</h5>
        </div>
      </td>
      <td>
        <h5>3 wild cards</h5>
      </td>
    </li>
    <li class="left">
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="avatar" src="../../../assets/avatars/avatar2.jpg" alt="avatar">
          </div>
          <h5 class='child flex-child'>Katerina</h5>
        </div>
      </td>
      <td>
        <h5>30/500</h5>
      </td>
      <td>
        <div class='parent'>
          <div class='child flex-child'>
            <img class="" src="../../../assets/photos/wild-uno.png" alt="wild cards">
          </div>
          <h5 class='child flex-child'>0</h5>
        </div>
      </td>
      <td>
        <h5>1 wild cards</h5>
      </td>
    </li>
  </ul>

</div>

<div class="container mt-5" *ngIf="condition">
  <br>
  <div class="rectangle">
    <h1 class="blue">And the winner is ...</h1>
    <div class='parent'>
      <div class='child flex-child'>
        <img class="avatarWinner" src="../../../assets/avatars/avatar1.jpg" alt="avatar">
      </div>
      <h1 class='child flex-child blue'>Sonia</h1>
    </div>
    <h2 class="blue">Winner winner ...CHICKEN DINNER!</h2>
    <h3>300 points</h3>
    <img class="Winner" src="../../../assets/photos/winner.svg" alt="wild cards">
  </div>

</div>
<div class="color-waves">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax" *ngIf="start">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FFAA00" />
    </g>
    <g class="parallax" *ngIf="red">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF5555" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FF5555" />
    </g>
    <g class="parallax" *ngIf="blue">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#5555FF" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#5555FF" />
    </g>
    <g class="parallax" *ngIf="green">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#00AA00" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#00AA00" />
    </g>
    <g class="parallax" *ngIf="yellow">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#FFAA00" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#FFAA00" />
    </g>
  </svg>
</div>