<my-sidebar>loading</my-sidebar>
<div class="phone-main">
    <div class="container mt-5">
      <img class="center" src="../../../assets/table-images/UNO-logo.png" alt="UNO logo">
      <ul *ngIf="!sign">
        <li><button class="button" type="button" id="#button1">Sign Up</button></li>
        <li><button class="button" type="button" id="#button2" (click)="signIn()">Sign In</button></li>
      </ul>
      <form *ngIf="sign">
        <br>
        <label for="username">Username:</label><br>
        <input type="text" id="fname" name="username" ><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="lname" name="password" ><br><br>
        <button class="button" type="button" id="#button2">Sign In</button>
      </form>
    </div>
</div>