<my-sidebar (onClickAction)="getClickAction($event)" >loading</my-sidebar>

<div class="phone-main">
    <div class="container mt-5" *ngIf="!hided">
      <img class="center" src="../../../assets/table-images/UNO-logo.png" alt="UNO logo">
      <ul *ngIf="!sign&&!main&&!hourglass&&!hided" class="ul-center">
        <li><button class="button" type="button" id="#button1" (click)="signUp()">Sign Up</button></li>
        <li><button class="button" type="button" id="#button2" (click)="signIn()">Sign In</button></li>
      </ul>
      <form *ngIf="sign&&!hided&&!signup">
        <br>
        <label for="username">Username:</label><br>
        <input type="text" id="fname" name="username" ><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="lname" name="password" ><br><br>
        <button class="button" type="button" id="#button2" (click)="signInB()">Sign In</button>
      </form>

      <form *ngIf="sign&&signup&&!hided">
        <br>
        <label  class="left" for="username">Username:</label><br>
        <input type="text" id="fname" name="username" ><br><br>
        <label  class="left" for="Password">Password:</label><br>
        <input type="password" id="lname" name="password" ><br><br>
        <label  class="left" for="Confirm Password">Confirm Password:</label><br>
        <input type="password" id="lname" name="confirm_password" ><br><br>
        
        <div class="access">
            <input type="checkbox" class="form-check-input" id="dysrhythmia" name="dysrhythmia" value="dysrhythmia">
            <label  class="left" for="dysrhythmia">Dysrhythmia</label>
            <br>
            <input type="checkbox" class="form-check-input" id="dyslexia" name="dyslexia" value="dyslexia">
            <label  class="left" for="dyslexia">Dyslexia</label>
            <br>
            <input type="checkbox" class="form-check-input" id="impaired vision" name="impaired vision" value="impaired vision">
            <label  class="left" for="impaired vision">Impaired vision</label>
            <br>
        </div>
        <br>
        <button class="button" type="button" id="#button2" >Sign Up</button>
        <br><br><br>
      </form>

      <ul *ngIf="main">
        <li><button class="button" type="button" id="#button1" (click)="startGame()">Start Game</button></li>
      </ul>

      <div *ngIf="hourglass">
        <br>
        <img class="center" src="../../../assets/photos/hourglass.png" alt="hourglass">
        <p>Waiting Players ...</p>
      </div>

    </div>
</div>