@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

.passwordCheck {
  color: red;
}

table {
  float: left;
  //margin-right: 100px;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked+label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #2952A3;
}

/* Stuff after this is only to make things more pretty */
input[type=radio]+label>img {
  border: 1px dashed #444;
  width: 50px;
  height: 50px;
  transition: 500ms all;
}

input[type=radio]:checked+label>img {
  transform:
    rotateZ(-10deg) rotateX(10deg);
}


.phone-main {
  position: relative;
  margin-top: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uno {
  width: 80%;
  max-height: 100px;
  max-width: min-content;
}

div.container {
  text-align: center;
}

label {
  text-align: left;
  width: 100%
}

.button {
  width: 40%;
  height: 15%;
}

#button1,
#button2 {
  display: inline-block;
  border: none;
}

ul {
  list-style: none;

}

.ul-center {
  padding-left: 0;
  margin-left: 0;
}

.ul-center li {
  margin: 15px;
}


.access {
  //display: inline-block; 
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}


.input {
  position: relative;
  width: 100%;
  left: 0.25%;
  right: 0.25%;
  background: #FFFEFE;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  text-align: left;
}

.a {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}


.open-dyslexic {
  font-family: 'Lexend'; //'OpenDyslexicRegular';
}

.font {
  font-family: Verdana, Geneva, sans-serif;
}