<!--<my-sidebar (onClickAction)="getClickAction($event)" >loading</my-sidebar>-->
<div class="phonegame-main container">
    <div class="row" *ngIf="cardsReady">
        <div class="col-4 vertical-center">
            <div class="clock row" *ngIf="my_turn">
                <div class="col-4 pad"><img class="clockicon" src="../../../../assets/photos/stopwatch.png"></div>
                <div class="col-8 pad center"><h4>{{timer}}</h4></div>
            </div>
        </div>
        <div class="col-4 head center">
            <h3 *ngIf="my_turn">It's Your Turn</h3>
        </div>
        <div class="col-4 right vertical-center">
            <img class="cancelicon" src="../../../../assets/photos/quit.png" alt="quit game">
        </div>
    </div>
    <div class="row margin">
        <div class="col-10 row center">
            <div class="card cards" *ngFor="let card of cards" #hoverCard (mouseenter)="onMouseEnter(hoverCard,cards.indexOf(card))"
                (mouseleave)="onMouseOut(hoverCard)" >
                <card [selectedCard]="cardValue[cards.indexOf(card)]" ></card>
                <!-- {{cards.indexOf(card)}}  na balw kapws na pairnw to index gia to throw card giati twra egkefalos den -->
            </div>
        </div>
        
        <div class="col-2 right" *ngIf="cardsReady">
            <img class="unobutton "  src="../../../../assets/photos/unobutton.png" alt="say uno">
        </div>
    </div>
    <div class="row marg" *ngIf="cardsReady">
        <div  class="col-4" *ngIf="!drawed"><button  [disabled]="my_turn===false" class="gamebutton" type="button" (click)="drawCard(1)"><h5>Draw</h5></button> </div>
        <div  class="col-4" *ngIf="drawed" ><button class="gamebutton" type="button" (click)="pass()"><h5>Pass</h5></button> </div>
        <div  class="col-4"> </div>
        <div  class="col-4"><button  [disabled]="my_turn===false" class="gamebutton" type="button" (click)="throwCard()"><h5>Throw Card</h5></button></div>
    </div>
    <div class="row" *ngIf="!cardsReady">
        <div class="container">
            <div class="row">
              <div id="loader">
                  <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="loading"></div>
              </div>
            </div>
          </div>
    </div>
</div>