@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

.open-dyslexic {
  font-family: 'Lexend'; //'OpenDyslexicRegular';
}

.font {
  font-family: Verdana, Geneva, sans-serif;
}

.phonegame-main {
  margin-top: 1%;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin {
  margin-top: 4%;
  margin-bottom: 2%;
}

.vertical-center {
  display: flex;
  align-items: center;
  vertical-align: middle
}

.head {
  text-align: center;
}

.clock {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  width: fit-content;

}

.pad {
  padding: 0 !important;
}

.clockicon {
  width: 100%;
}


.cancelicon {
  height: 50%;
}

h5 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0;
}


.cards {
  margin-right: -8% !important;
  box-shadow: 0 0 3px;
}

.cardsmoreseven {
  margin-right: -13% !important;
  box-shadow: 0 0 3px;
}

.cardsmorenine {
  margin-right: -16% !important;
  box-shadow: 0 0 3px;
}

.card {
  width: 20%;
}

.marg {
  margin: 10px;
}

.but {
  margin-top: 10%;
}

.gamebutton {
  width: 100%;
  background: #2952A3;
  color: #FFFFFF;
  border-radius: 15px;
  font-family: 'Verdana';
  font-style: normal;
  height: 110%;
  text-align: center;
  display: block;
  margin: auto;
  border-style: none;
}



//loader
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00AA00 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00AA00 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #5555FF none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #5555FF none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #5555FF none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #FF5555 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: #FF5555 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #FFAA00 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}


.modal {
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 8%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  // background-color: rgb(0, 0, 0);
  /* Fallback color */
  // background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 1%;
  width: 80%;
  border-radius: 2vw;
}

.colorbtn {
  border-radius: 50%;
  margin: auto;
  padding: 8%;
  border-style: none;
}

.green {
  background-color: #00AA00;
}

.blue {
  background-color: #5555FF;
}

.red {
  background-color: #FF5555;
}

.yellow {
  background-color: #FFAA00;
}

.ac {
  width: 15%;
  height: 15%;

}

//uno
.shadow {
  border-radius: 20% 50%;
  box-shadow: inset 0 0 12px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 0 2px #FF5555, 4px 6px 0 8px #5555FF, 8px 10px 0 12px #00AA00, 10px 12px 0 14px #FFAA00;
}

img {
  max-width: 80%;
  height: auto;
}