.phonegame-main {
  margin-top: 1%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin{
  margin-top: 4%;
  margin-bottom: 2%;
}

.vertical-center {
  display: flex;
  align-items: center;
  vertical-align: middle
}

.head {
  text-align: center;
}

.clock {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  width: fit-content;

}

.pad {
  padding: 0 !important;
}

.clockicon {
  width: 100%;
}


.cancelicon{
  height: 100%;
}

h5 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4{
  margin: 0;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0;
}


.cards {
  margin-right: -8% !important;
  box-shadow: 0 0 3px;
}

.card {
  width: 20%;
}

.marg{
  margin: 10px;
}

.gamebutton {
  width: 100%;
  background: #2952A3;
  color: #FFFFFF;
  border-radius: 15px;
  font-family: 'Verdana';
  font-style: normal;
  height: 110%;
  text-align: center;
  display: block;
  margin: auto;
}
