<div class="container mt-5 center">
  <h1>Select device:</h1>
  <ul class="ul-center">
    <li><button class="button1" type="button" (click)="router.navigate(['/wall']);">Wall</button></li>
    <li><button class="button1" type="button" (click)="router.navigate(['/tv']);">TV </button></li>
    <li><button class="button1" type="button" (click)="router.navigate(['/table']);">Table</button></li>
    <li><button class="button1" type="button" (click)="router.navigate(['/phone']);">Phone</button></li>
  </ul>
</div>