<div class="body">
    <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
          <div class="main-content-wrapper">
              <a href="#profile"><img class="center" src="../../../assets/sidebar/user.png" alt="user logo">Profile</a>
              <a href="#statistics"><img class="center" src="../../../assets/sidebar/pie-chart.png" alt="statistics logo">Statistics</a>
              <a href="#logout"><img class="center" src="../../../assets/sidebar/log-out.png" alt="log out">Log Out</a>
          </div>
      </div>
  </div>
  