.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.parent{
    position: relative;
    top: 0;
    left: 0;
}

.upside-down{
    top: 0;
    right: 0;
    margin: auto;
    width: 100%;
    //padding: 10px;
    /* Rotate from top left corner (not default) */
    transform: rotate(180deg);
}
.right {
    position: absolute;
    right: 750px;
    //width: 100%;
    //height: 3git20px;
    height: 320px;
    transform: rotate(90deg);
    display: inline-block;
    white-space: nowrap;
}

.left {
  position: absolute;
  left: 750px;
  display: inline;
  //width: 100%;
  height: 320px;
  transform: rotate(-90deg);
  display: inline-block;
  white-space: nowrap;
}

.column {
    float: left;
    width: 50%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.test{
    position: relative;
}

.image1 {
    position: absolute;
    // top: 30px;
    // left: 30px;
    top: 25%;
    left: 15%;
}

.image2 {
    position: absolute;
    // top: 30px;
    // left: 30px;
    top: 25%;
    right: 15%;
}
