html,
body {
    height: 100%;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1080px;
}

.uno-card {
    height: 85%;
    margin-right: -25px;
    box-shadow: 0 0 3px;
}

.player {
    display: flex;
    height: 15%;
}

.player-card {
    width: 99%;
}

.pause {
    flex-grow: 1;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.message {
    margin-top: -25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.upside-down {
    position: absolute;
    top: 5%;
    right: 40%;
    transform: rotate(180deg);
}

.right {
    position: absolute;
    top: 45%;
    left: 0;
    width: fit-content;
    transform: rotate(90deg);
}

.left {
    position: absolute;
    top: 45%;
    right: 0;
    transform: rotate(-90deg);
}

.bottom {
    position: absolute;
    bottom: 5%;
    right: 40%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.arrows {
    height: 500px;
    position: absolute;
    top: 26%;
    left: 33%;
}



// .image1 {
//     top: 30%;
//     left: 20%;
//     height:10%;
// }
.cards-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.card {
    margin-right: 10%;
    width: 15%;
}

.stack {
    width: 15%;

}