<div class="main-container" >
  <div class="player upside-down">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <input type="image" src="../../../assets/table-images/pause-button.png">
    <h1>It's Your Turn</h1>
  </div>

  <div class="player right">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <input type="image" src="../../../assets/table-images/pause-button.png">
    <h1></h1>
  </div>

  <div class="player left">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <input type="image" src="../../../assets/table-images/pause-button.png">
    <h1></h1>
  </div>

  <div class="player bottom">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <img class="" height="150px" src="../../../assets/table-images/uno-card.png" alt="uno card">
    <input type="image" src="../../../assets/table-images/pause-button.png">
    <h1></h1>
  </div>

  <div class="vertical-horizontal-center">
    <img class="center arrows" height="100%"  src="../../../assets/table-images/arrow-turns.png" alt="arrows for turn">
    <img class="image1" height="50%" src="../../../assets/table-images/Blank Blue Card (normal).png" alt="uno card">
    <img class="image2" height="50%" src="../../../assets/table-images/uno-card.png" alt="uno card">
  </div>
</div>
