<div class="main-container">
  <div class="container player">
    <div class="player upside-down">
      <div class="player-card">
        <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
        <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
        <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
        <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      </div>
      <div class="pause"><input type="image" src="../../../assets/table-images/pause-button.png"></div>
    </div>
    <h5 class="message upside-down">It's Your Turn</h5>
  </div>

  <div class="player right">
    <div class="player-card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
    <div class="pause"><input type="image" src="../../../assets/table-images/pause-button.png"></div>
    <h1></h1>
  </div>

  <div class="player left">
    <div class="player-card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
    <div class="pause"><input type="image" src="../../../assets/table-images/pause-button.png"></div>
    <h1></h1>
  </div>

  <div class="player bottom">
    <div class="player-card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
    <div class="pause"><input type="image" src="../../../assets/table-images/pause-button.png"></div>
    <h1></h1>
  </div>

  <div class="v-h-center">
    <!-- <img class="center arrows" height="80%"  src="../../../assets/table-images/arrow-turns.png" alt="arrows for turn"> -->
    <div class="cards-center">
      <card class="card"></card>
      <!-- <img class="image1"  src="../../../assets/table-images/Blank Blue Card (normal).png" alt="uno card"> -->
      <img class="stack" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>