<div class="main parent">

  <div class="player right" id="container" *ngIf="length>0 && players[0]!=undefined">
    <div id="leftbox">
      <img class="avatar" src="../../../assets/avatars/{{players[0].avatar}}.jpg" alt="avatar">
      <h2 [ngClass]="fontClass">{{players[0].username}}</h2>
    </div>
    <div id="middlebox">
      <h1 class="cent" [ngClass]="fontClass">{{[].constructor(number_of_cards[0]).length}}x</h1>
    </div>
    <div class="player-card" id="rightbox">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>
  <h1 *ngIf="turns_of_players==0 && !end_of_round && players[0]!=undefined" class="message-top right"
    [ngClass]="fontClass">It's Your Turn</h1>


  <div class="player bottom" *ngIf="length>1 && players[1]!=undefined">
    <div id="leftbox">
      <img class="avatar" src="../../../assets/avatars/{{players[1].avatar}}.jpg" alt="avatar">
      <h2 [ngClass]="fontClass">{{players[1].username}}</h2>
    </div>
    <div id="middlebox">
      <h1 class="cent" [ngClass]="fontClass">{{[].constructor(number_of_cards[1]).length}}x</h1>
    </div>
    <div class="player-card" id="rightbox">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>
  <h1 *ngIf="turns_of_players==1 && !end_of_round && players[1]!=undefined" class="message-top bottom"
    [ngClass]="fontClass">It's Your Turn</h1>

  <div class="player left" *ngIf="length>2 && players[2]!=undefined">
    <div id="leftbox">
      <img class="avatar" src="../../../assets/avatars/{{players[2].avatar}}.jpg" alt="avatar">
      <h2 [ngClass]="fontClass">{{players[2].username}}</h2>
    </div>
    <div id="middlebox">
      <h1 class="cent" [ngClass]="fontClass">{{[].constructor(number_of_cards[2]).length}}x</h1>
    </div>
    <div class="player-card" id="rightbox">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>
  <h1 *ngIf="turns_of_players==2 && !end_of_round && players[2]!=undefined" class="message-left left"
    [ngClass]="fontClass">It's Your Turn</h1>


  <div class="player upside-down" *ngIf="length>3 && players[3]!=undefined">
    <div id="leftbox">
      <img class="avatar" src="../../../assets/avatars/{{players[3].avatar}}.jpg" alt="avatar">
      <h2 [ngClass]="fontClass">{{players[3].username}}</h2>
    </div>
    <div id="middlebox">
      <h1 class="cent" [ngClass]="fontClass">{{[].constructor(number_of_cards[3]).length}}x</h1>
    </div>
    <div class="player-card" id="rightbox">
      <img class="uno-card" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>
  <h1 *ngIf="turns_of_players==3 && !end_of_round && players[3]!=undefined" class="message-bottom upside-down"
    [ngClass]="fontClass">It's Your
    Turn</h1>


  <div *ngIf="reverse" class="v-h-center">
    <img class="arrows" src="../../../assets/table-images/arrow-turns-reverse.png" alt="reverse arrows for turn">
    <div class="cards-center">
      <div class="card" *ngFor="let card of cards" style="height: fit-content">
        <card *ngIf="cardValue!=undefined" [selectedCard]="cardValue"></card>
      </div>
      <img class="stack" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>

  <div *ngIf="!reverse" class="v-h-center">
    <img class="arrows" src="../../../assets/table-images/arrow-turns.png" alt="arrows for turn">
    <div class="cards-center">
      <div class="card" *ngFor="let card of cards" style="height: fit-content">
        <card *ngIf="cardValue!=undefined" [selectedCard]="cardValue"></card>
      </div>
      <img class="stack" src="../../../assets/table-images/uno-card.png" alt="uno card">
    </div>
  </div>

</div>