@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');

.open-dyslexic {
    font-family: 'Lexend';
}

.font {
    font-family: Verdana, Geneva, sans-serif;
}

.parent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-marg {
    margin-left: 2vh;
}

.uno-card {
    height: 9vh;
    box-shadow: 0 0 3px;
}

.num-cards {
    width: 9vh;
    margin-right: 2vh;
    text-align: right;
}

.upside-down {
    position: absolute;
    top: 3%;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

.left {
    position: absolute;
    margin: auto 0;
    left: 0;
    width: fit-content;
    transform: rotate(90deg);
}

.right {
    position: absolute;
    margin: auto 0;
    right: 0;
    transform: rotate(-90deg);
}

.bottom {
    position: absolute;
    bottom: 3%;
    align-items: center;
    justify-content: center;
}

.v-h-center {
    height: 47vh;
    width: 60vh;
    position: relative;
}

.arrows {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cards-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.card {
    margin-right: 10%;
    width: 25%;
}

.stack {
    width: 25%;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

////stoixisi
// #leftbox {
//     float: left;
//     width: 70%;
//     height: 70%;
//     margin-left: 25%;
// }

// #middlebox {
//     float: left;
//     width: 20%;
//     height: 70%;
//     margin-left: 25%;
//     margin-top: 9%;
// }

// #rightbox {
//     float: right;
//     width: 10%;
//     height: 70%;
//     margin-left: 20%;
// }